.workContainer {
  display: flex;
  background-color: #1c1c1c;
  flex-direction: column;

  .content {
    margin-top: 10rem;
    .summary {
      color: #82b7dc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 20px;
        text-transform: uppercase;
      }
      h2 {
        color: #82b7dc;
        font-size: 1rem;
      }
      h3 {
        color: #ffffff;
      }
    }
    .image {
      border: 3px solid #82b7dc;
      border-radius: 10px;
      overflow: hidden;
      height: 200px;
    }

    .timelineGridCotainer {
      max-width: 100vw;
      background-color: #0d0107;
    }
    .link {
      color: #82b7dc;
      font-size: 20px;
      border: 3px dotted #000;

      &:hover {
        animation: onHover 3s;
        border: 3px dotted #82b7dc;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .summary {
    padding: 0 1rem;
    font-size: 2em;
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 0.8em;
    }
    h3 {
      font-size: 0.8em;
    }
  }

  .timelineGridCotainer {
    overflow: hidden;
  }
  .image {
    width: 100% !important;
    height: fit-content !important;
  }
}
