.workContainer {
  display: flex;
  background-color: #1c1c1c;
  flex-direction: column;
  max-width: 100vw;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 10rem;

    .summary {
      color: #82b7dc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 70vw;
      & h2 {
        font-size: 1.2em !important;
      }
    }

    .timelineGridCotainer {
      max-width: 100vw;
    }
  }
}

@media only screen and (max-width: 700px) {
  .workContainer {
    .content {
      margin-top: 1rem;
      .summary {
        width: 85vw !important;
        & h2 {
          font-size: 1em !important;
        }
      }
    }
  }

  .timelineGridCotainer {
    overflow: hidden;
  }
}
