.scrollTopButton {
  position: absolute;
  bottom: -75vh;
  right: 40px;
  display: block;
  background-color: #82b7dc;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  padding: 0.8rem 0 0 0;
}
.scrollTopButton:hover {
  background-color: #fff;
  color: #82b7dc;
  box-shadow: 0 0 10px #82b7dc;
}
.hide {
  margin: 0 auto;
  display: none;
}
