.menuBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: inherit;

  .title {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-right: auto;
    margin-left: 2vh;
    text-decoration: none;
  }

  .name {
    color: #82b7dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .tab {
    text-decoration: none;
    margin-right: 2vw;

    &:hover {
      transform: scale(1.2);
    }
  }
  .navbar {
    display: "flex";
    justify-content: "flex-start";
    // height: "20vh";
    // background-color: "#82b7dc";
    align-items: "center";
  }
  .appBar {
    background: "transparent";
    box-shadow: "none";
    display: "flex";
    align-items: "center";
    justify-content: "center";
    width: "100%";
    position: "absolute !important";
  }
  @media only screen and (max-width: 500px) {
    .menuBar {
      align-items: center;
      flex-direction: column;
      gap: 5px;
      height: auto;
    }

    .title {
      margin: auto;
    }

    .name {
      display: none !important;
    }
  }
}
